absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt==4.0.0
beautifulsoup4==4.10.0
bleach==4.1.0
bokeh==2.4.0
Brotli==1.0.9
bs4==0.0.1
cachetools==5.0.0
ccxt==1.91.92
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
configparser==5.2.0
cryptography==37.0.4
cssselect==1.1.0
cycler==0.10.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dateparser==1.0.0
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
distlib==0.3.4
dnspython==2.2.1
docutils==0.17.1
ecdsa==0.18.0
email-validator==1.2.1
emoji==1.7.0
entrypoints @ file:///C:/ci/entrypoints_1649926621128/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fake-useragent==0.1.11
fastapi==0.79.0
filelock==3.5.1
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==2.0
frozenlist==1.3.1
gast==0.5.3
gevent==21.8.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
h11==0.13.0
h5py==3.6.0
html5lib==1.1
ibm-db==3.1.0
ibm-db-sa==0.3.3
idna==3.2
importlib-metadata==4.8.1
inflection==0.5.1
ipykernel @ file:///C:/ci/ipykernel_1646982785443/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1657634415474/work
ipython-sql==0.4.0
itsdangerous==2.0.1
jedi @ file:///C:/ci/jedi_1644315428289/work
Jinja2==3.0.1
joblib==1.1.0
jose==1.0.0
jsonschema==4.0.1
jupyter-client @ file:///C:/ci/jupyter_client_1650515989971/work
jupyter-core @ file:///C:/ci/jupyter_core_1651656286743/work
jupyterlab-pygments==0.1.2
jupyterthemes==0.20.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lesscpy==0.15.0
libclang==13.0.0
lxml==4.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
more-itertools==8.10.0
multidict==5.1.0
multitasking==0.0.9
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.1.3
nest-asyncio @ file:///C:/ci/nest-asyncio_1649829929390/work
nltk==3.7
notebook==6.4.10
numpy @ file:///C:/Windows/Temp/abs_2a1e1vbeag/croots/recipe/numpy_and_numpy_base_1659432712056/work
oauthlib==3.2.0
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
pandocfilters==1.5.0
parse==1.19.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
passlib==1.7.4
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.3.2
platformdirs==2.5.0
plotly==5.3.1
ply==3.11
prettytable==0.7.2
prometheus-client==0.13.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.4
psycopg2==2.9.3
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.2.1
pycoingecko==2.2.0
pycountry==22.3.5
pycparser==2.20
pydantic==1.9.1
pyee==8.2.2
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyparsing==2.4.7
pyppeteer==0.2.6
pyquery==1.4.3
pyrsistent==0.18.0
python-binance==1.0.15
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.1
pywin32==302
pywinpty==2.0.5
PyYAML==5.4.1
pyzmq @ file:///C:/ci/pyzmq_1657615952984/work
Quandl==3.6.1
regex==2021.8.28
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.8.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.3.9
sqlparse==0.4.2
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.19.1
statistics==1.0.3.5
ta==0.10.1
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.3
test-utils==0.1.0
testpath==0.6.0
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
torch==1.12.0
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm==4.62.2
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
tweepy==4.9.0
typing-extensions==3.10.0.2
tzdata==2021.1
tzlocal==3.0
ujson==4.2.0
unet==0.7.7
urllib3==1.26.6
uvicorn==0.18.2
virtualenv==20.13.1
w3lib==1.22.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.2.1
websockets==9.1
Werkzeug==2.0.2
wget==3.2
wincertstore==0.2
wrapt==1.13.3
XlsxWriter==3.0.1
yarl==1.7.2
yfinance==0.1.63
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
